.authContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.img {
  width: 70%;
  height: auto;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.case {
  background-color: rgb(255, 255, 255);
  float: right;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 600px;
}

.title {
  color: rgb(144, 143, 145);
  font-size: 14px;
  text-transform: upperCase;
}

.loginButton {
  background-color: grey;
  text-align: center;
  width: 500px;
  height: 56px;
  margin-top: 50px;
  text-transform: uppercase;
  border: transparent;
  border-radius: 5px;
  color: white;
  background-color: rgb(51, 51, 51);
}

.switch {
  display: flex;
  flex-direction: row;
  color: rgb(144, 143, 145);
  width: 500px;
  column-gap: 20px;
  margin-top: 64px;
  font-size: 16px;
}

.switch p {
  cursor: pointer;
  position: relative;
  padding-bottom: 4px;
}
